body
{
    margin-left:        20%;
    margin-right:       20%;
    width:              60%;
}

#conversion_table
{
    width:              100%;

    border-collapse:    collapse;
    margin-bottom:      1em;
}

#conversion_table td
{
    border-left:        1px solid #000000;
    border-right:       1px solid #000000;
}

#conversion_table td:last-child
{
    border-right:       0;
}

#conversion_table td:first-child
{
    border-left:        0;
}

#data_select
{
    margin-left:        auto;
    margin-right:       auto;
}

#conversion_holder
{
    display:            none;
}

#widget_conversion
{
    text-align:         center;
    margin-left:        auto;
    margin-right:       auto;
    margin-top:         1em;
}

.selection_summary
{
    margin-bottom:      1em;
}