#functionality
{
    text-align:         center;
    margin-left:        auto;
    margin-right:       auto;
}

#sel_context
{
    margin-left:        auto;
    margin-right:       auto;
}



table
{

    margin-left:    auto;
    margin-right:   auto;

}

#activity_status
{
    margin-top:     1em;
}

form
{

    /*
    text-align:     center;
    margin-left:    auto;
    margin-right:   auto;
    */

}

table#data_select
{
    margin-bottom:  1em;
}
