#creationmask
{
    width:          100%;
}

table
{
    margin-left:        auto;
    margin-right:       auto;
}

h4
{
    text-align: center;
}

#proxy_bb
{
    width:  320px;
    height: 160px;
}

#proxy_meta_new_bb
{
    width:  320px;
    height: 160px;

}

#proxy_operations
{

}

#metadata_table
{
    width:      100%;
    font-size:  small;
    border-collapse:    collapse;
}


#button_add_meta{}

tr, td {
    vertical-align: top;

}

#proxy_ops_mode td
{
    margin-left:    1em;
    margin-right:   1em;
}

td.mask_define_bb
{
    border-left:        1px solid #000000;
    padding-left:       4px;
    padding-right:      4px;
}

td.mask_addbutton
{
    text-align:         center;
}


#metadata_table
{
    margin-bottom:      1em;
    border-bottom:      1px solid #000000;
    border-collapse:    collapse;
}

#metadata_table td, #metadata_table th
{
    border-left:        1px solid #000000;
    border-right:       1px solid #000000;
}

#metadata_table td:first-child, #metadata_table th:first-child
{
    border-left:        none;
}

#metadata_table td:last-child, #metadata_table th:last-child
{
    border-right:       none;
}

#metadata_table tr, #metadata_table td {
    vertical-align: middle;
}

#metadata_table td
{
    padding:        4px;
}


#metadata_new_submission
{
    border-collapse:    collapse;
    margin-top:         1em;

}

#metadata_new_submission td
{
    padding-left:       8px;
    padding-right:      8px;
}


#proxy_core_data {
    border-collapse:    collapse;
}

#proxy_core_data td
{
    padding-left:       8px;
    padding-right:      8px;
}

#submission_checklist
{
    text-align:     center;

}


.pm_text_bbox {
    font-size: smaller;
}

.pm_cell_name {
    min-width:      10em;
}

.pm_cell_date {
    min-width:  10em;
}

.pm_cell_bbox {
    max-width: 200px;
}

#proxy_ops_table {



}



#proxy_ops_select_table
{
    padding:            0;
    border-collapse:    collapse;

}

#proxy_ops_select td
{

    border-left:        1px solid #000000;
    border-right:        1px solid #000000;
    padding-left:        4px;
    padding-right:      4px;

}

#proxy_ops_select td:first-child
{
    border-left:        none;
}

#proxy_ops_select td:last-child
{
    border-right:        none;
}

#controls_send {
    text-align:     center;
}

#td_proxy_bb
{
    border-right:        1px solid #000000;

}

#button_proxy_create
{
    margin-top:         1em;
}