body {
    margin-left:   20%;
    margin-right:  20%;
    width:  60%;
}

#conversion_table {
    width:      100%;
}

#data_select {
    margin-left:    auto;
    margin-right:   auto;
}

#conversion_holder{
    display: none;
}