#proxycreate_mask
{
    background-color:   #ffffff;
    /*margin:             0 4px 4px 4px; */

}

.geoloc_combo
{
    white-space: pre;
}

.geoloc_combo img
{
    vertical-align: text-bottom;
}

#proxycreate_mask *
{
    font-size:               small;

}

#ops_proxy_new, #reports_pre
{
    width:          100%;
}

.sectionmask
{
    display:            table;
    color:              #ffffff;
    width:              100%;
    padding-bottom:            4px;
    border-spacing:         0;
    border-width:           0;
}



.elementmask
{

    display:            table-cell;
    background-color:   #ff8800;
    /*margin:             4px; */
    height:             100%;
    vertical-align:     top;
    padding:            4px;

    border-left:        1px solid #ffffff;
    border-right:        1px solid #ffffff;


}

.sectionbanner
{
    color:                       #ff8800;
    background-color:              #ffffff;
    left:               6px;
    right:              6px;
    margin-bottom:      4px;
    text-align:         center;
    font-weight:        bold;
}

#banner_report_pre
{

    margin-top:     -4px;
    margin-left:    -4px;
    margin-right:   -4px;
}

.fieldmask
{
    display:            table;
    width:              100%;
    border-spacing:     0;
    padding:            0;
}

.subfieldmask
{
    display:            table-row;

}

#new_meta_table
{
    width:              100%;
    border-collapse:    collapse;
}

.newmeta_bb
{
    width:              100%;
    border-right:       1px solid #ffffff;
    border-left:        1px solid #ffffff;
    padding-left:       4px;
}

.newmeta_namefield
{
    width:              12em;
    min-width:          12em;
    border-right:       1px solid #ffffff;
}

.newmeta_datefrom, .newmeta_dateto
{
    width:              10em;
    min-width:          10em;
    border-right:       1px solid #ffffff;
    border-left:        1px solid #ffffff;
    padding-left:       4px;
}

.newmeta_ctrldelete
{
    width:              4em;
    min-width:          4em;
    text-align:         center;
}




#map_meta_new, #map_proxy_new
{

    width:              320px;
    height:             200px;

}

.mapmask
{
    display:            table-cell;
    width:              320px;
    min-width:          320px;
    height:             200px;


}

#newmeta_buttons
{
    margin-top:         4px;
}

#create_actions
{
    text-align: center;
}
