#metalisting
{
    width:          98%;
}

#metalistinglayout
{
    width:              100%;
    border-collapse:    collapse;
}

td.actionstd
{
    text-align:     right;
}


.metamaps
{
    border-left:    1px solid #ff8800;
    border-spacing: 8px 0;
    border-bottom:  1px solid #ff8800;
}

a img
{
    border:         none;
}

.imgbutton
{
    cursor:         pointer;
    border:         1px solid #ffffff;
}

.imgbutton:active
{
    border:         1px solid #ff8800;
}

tbody.metadata td.metatitle, tbody.metadata td.actionstd
{
    padding-top:    8px;
    /*border-bottom:      1px dotted #cccccc; */
}

.mapcard td.maptitle
{
    padding-left:       8px;
}

.metatitle
{
    font-weight:        bold;

}

#proxyinfo
{
    font-size:          medium;
    font-weight:        bold;
}

tr
{
    width:              100%;
}

td
{
    padding-top:         4px;
}


#proxymap
{
    position:       absolute;
    top:            0;
    bottom:         0;
    left:           0;
    right:          0;

    padding:        0 8px 8px 8px;
}

.formbriefing, .formwarning, #uploadfail_explain, .progressinfo
{
    width:          400px;
}

#newfile_chooser
{
    width:          inherit;
}

.feedback_good
{
    border-bottom:         1px solid #009900;
}

.feedback_bad
{
    border-bottom:         1px solid #ff0000;
}

.progspinner
{
    text-align:     center;
}

.warninglabel
{
    font-weight:        bold;
    font-style:         italic;
}



#newquerytable
{
    border-collapse:    separate;

}


#newquerytable tbody.subsection > tr:first-child > td
{
    padding-top:         8px;
    border-top:          1px dashed #ff8800;
}