body
{
    font-family:        sans-serif;
    background-color:   #006400;
    color:              #ffffff;
}

input:disabled, select:disabled
{
    background-color:   #bbb7b9;
    color:              #ffffff;

}

.cornermap
{
    clear: both;
}

.maskwidget
{
    color:              #ffffff;
    background-color:   #ff8800;
    border:             1px solid #ff8800;
    margin-top:         8px;
    padding-top:        4px;
    clear:              both;
}

.textbutton
{
    font-weight:        bold;

}

.mapactions
{
    text-align:     right;
}

.statemess
{
    font-size:              medium;

    vertical-align:         middle;
    text-align:             center;

    background-color:       #90EE90;
    color:                  #000000;
    border:                 1px solid #90EE90;

    margin-bottom:          8px;


}

#currentops
{
    border:                 none;
    background-color:       #ffffff;
}




.feedback
{
    word-break:         normal;
    word-wrap:          break-word;

    color:              #ffffff;
    padding:            4px;
    clear:              both;

    background-color:   #6985b1;
}



input [type=button]
{
    color:              #000000;
    background-color:   #ffffbb;
    border:             1px solid #006400;
}

.button
{
    color:              #000000;
    background-color:   #ffffbb;
    border:             1px solid #006400;
    text-align:         center;

}

a.backtrack
{
    color:              #ff8800;
    font-weight:        bold;
    text-decoration:    none;
}

.button:focus
{
    color:              #ffffbb;
    border:             1px solid #006400;
    background-color:   #000000;
}

.button.wide
{
    /*width:      100%; */
    margin-bottom:  4px;
}

.button a
{
    text-decoration: none;
    color:           #ffffff;
}

#servicebar
{
    position:           absolute;
    top:                0;
    left:               0;
    right:              0;
    height:             57px;

    padding-left:       12px;
    /* padding-top:        4px; */

    color:              #ffffff;
    font-weight:        bold;

    background-color:   #112B11;

    border-bottom:      1px solid #ffff00;



    background-image: url('/static/logo_invento.png'), url('/static/logo_labs.png'),url('/static/top_bg.png');
    background-repeat: no-repeat;
    background-position: top left, top right, top center;
}

#contextguide
{

    position:           absolute;
    top:                69px;
    left:               80%;
    right:              0;
    bottom:             0;
    overflow:           auto;
    padding-left:       8px;
    padding-right:      8px;

}

.help
{
    padding-top:            0;
    margin-top:             0;
}

img.legend
{
    vertical-align:         middle;
}

#navigation
{
    position:           absolute;
    top:                69px;
    left:               0;
    right:              75%;
    bottom:             0;
    overflow:           auto;
    padding-left:       8px;
    padding-right:      8px;
}

#navigation > *, #contextguide > *
{
    font-size:          small;

}


#functionality
{
    position:           absolute;
    top:                57px;
    left:               25%;
    right:              20%;
    bottom:             0;

    overflow:           auto;

    padding:            0.5em;

    border-top:         1px solid #ffff00;
    border-left:        1px solid #ffff00;
    border-right:       1px solid #ffff00;
}

.button_pre
{
    float:              left;

}

.nav_entry a
{
    text-decoration:    none;
    color:              #ff8800;
}

.nav_entry
{
    width:              100%;
}




#minimap
{
    margin-bottom:          8px;
}

input
{
    border:             1px solid #006400;
    background-color:   #ffffbb;
}

select
{
    border:             1px solid #bbeebb;
    background-color:   #ffffbb;
}



.feedback.success
{
    background-color: #12b42b;
}

.feeback.fail
{
    background-color: #e9324c;

}

tr
{
    vertical-align:     top;
}