.tabbar
{
    display:            table;
    background-color:   #ffffff;
    width:              100%;
    margin-bottom:      8px;
    border-bottom:      1px solid #ff8800;

    font-weight:        bold;


    border-collapse:    collapse;
}

.subtab
{
    display:    table-cell;
    background-color:   #ff8800;
    color:      #ffffff;
    padding-left:       4px;

    cursor:         pointer;
}

.subtab.unseltab
{
    background-color:   #ffffff;
    color:              #ff8800;
}

.btn_proxydelete, .btn_stfider
{
    float:          right;
    cursor:         pointer;
    padding:        4px 4px 0 0;
}

#proxymap
{
    position:       absolute;
    top:            0;
    bottom:         0;
    left:           0;
    right:          0;

    padding:        0 8px 8px 8px;
}

#proxylisting
{
    margin-top:     1em;
}

.inhiding
{
    visibility:     hidden;
}

#proxybuilder
{
    position:       absolute;
    top:            0;
    bottom:         0;
    left:           0;
    right:          0;

    padding:        0 8px 0 8px;
    overflow:       auto;

}

.nav_entry
{
    border:         1px solid #ff8800;

    margin-bottom:  0.5em;
}

