.ctx_fieldname, .ctx_fieldval, .ctx_fieldact
{
    display:    table-cell;
}

.ctx_topic
{
    display:    table-row;
}

.ctx_fieldval
{
    padding-left:    2px;
    padding-right:   2px;
}

.ctx_fieldval input, .ctx_fieldval select
{

    width: 100%;

    box-sizing: border-box;
    -webkit-box-sizing:border-box;
    -moz-box-sizing: border-box;

}

#view_context
{
    display:            table;
    border-collapse:    separate;
}

hr
{
    border:         none;
    border-top:  1px solid #ff8800;
}

#view_map
{
    position:       absolute;
    top:            0;
    bottom:         0;
    left:           0;
    right:          0;

    padding:        0 8px 8px 8px;
}

#uploadfield
{
    position:       absolute;
    right:          -300;
    top:            -300;
    visibility:     hidden;
}

#contextloader *:disabled, #contextsaver *:disabled
{
    color:          #000000;
    background:     #cccccc;
}

#contextsaver.savehint
{
    background-color: #e9324c;

}