/*
Graphics replacemente CSS for OpenLayers
*/

.olLabsLayerSwitcher
{
    position: absolute;
    top: 48px;
    right: 0;
    width: 20em;
    font-family: sans-serif;
    font-weight: bold;
    margin-top: 3px;
    margin-left: 3px;
    margin-bottom: 3px;
    font-size: smaller;
    color: white;
    background-color: transparent;
}


.olLabsLayerSwitcher .layersDiv {
    padding-top: 5px;
    padding-left: 10px;
    padding-bottom: 5px;
    padding-right: 10px;
    background-color: #000000;
    font-size:      small;
}

.olLabsLayerSwitcher .layersDiv .baseLbl,
.olLabsLayerSwitcher .layersDiv .dataLbl {
    margin-top: 3px;
    margin-left: 3px;
    margin-bottom: 3px;
}

.olLabsLayerSwitcher .layersDiv .baseLayersDiv,
.olLabsLayerSwitcher .layersDiv .dataLayersDiv {
    padding-left: 10px;
}

.olLabsLayerSwitcher .maximizeDiv,
.olLabsLayerSwitcher .minimizeDiv {
    width: 18px;
    height: 18px;
    top: 5px;
    right: 0;
    cursor: pointer;
}

.olControlEditingToolbar
{
    padding:            4px;
    background-color:   #cccccc;
    /*opacity:                0.5; */

    border:                 1px solid #006400;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -khtml-border-radius: 4px;
    border-radius: 4px;
}


.olControlEditingToolbar .olButton
{
    width:                  24px;
    height:                 24px;
    background-position:    0 0;
    margin:                 0 5px 0 0;
    border:                 none;
    padding-bottom:         4px;

}


.olControlEditingToolbar .olLabsControlModifyFeatureItemInactive,
.olControlEditingToolbar .olLabsControlSelectFeatureItemInactive
{
    background-image: url("/static/gis-0.1/mActionToggleEditing-inactive.png");
}

.olControlEditingToolbar .olLabsControlModifyFeatureItemActive,
.olControlEditingToolbar .olLabsControlSelectFeatureItemActive
{

    background-image: url("/static/gis-0.1/mActionToggleEditing.png");
    border-bottom:      1px solid #000000;
}

.olControlEditingToolbar .olLabsControlModifyFeatureItemInactive:hover,
.olControlEditingToolbar .olLabsControlSelectFeatureItemInactive:hover
{
    background-image: url("/static/gis-0.1/mActionToggleEditing.png");
}


.olControlEditingToolbar .olLabsControlDrawFeaturePointItemInactive
{
    background-image: url("/static/gis-0.1/mActionCapturePoint-inactive.png");

}

.olControlEditingToolbar .olLabsControlDrawFeaturePointItemActive
{
    background-image: url("/static/gis-0.1/mActionCapturePoint.png");
    border-bottom:      1px solid #000000;
}

.olControlEditingToolbar .olLabsControlDrawFeaturePointItemInactive:hover
{
    background-image: url("/static/gis-0.1/mActionCapturePoint.png");
}





.olControlEditingToolbar .olLabsControlDrawFeaturePathItemInactive
{
    background-image: url("/static/gis-0.1/mActionCaptureLine-inactive.png");

}

.olControlEditingToolbar .olLabsControlDrawFeaturePathItemActive
{
    background-image: url("/static/gis-0.1/mActionCaptureLine.png");
    border-bottom:      1px solid #000000;
}

.olControlEditingToolbar .olLabsControlDrawFeaturePathItemInactive:hover
{
    background-image: url("/static/gis-0.1/mActionCaptureLine.png");
}


.olControlEditingToolbar .olLabsControlMeasureItemInactive
{
    background-image: url("/static/gis-0.1/mActionMeasure-inactive.png");
}

.olControlEditingToolbar .olLabsControlMeasureItemActive
{
    background-image: url("/static/gis-0.1/mActionMeasureRed.png");
    border-bottom:      1px solid #000000;
}

.olControlEditingToolbar .olLabsControlMeasureItemInactive:hover
{
    background-image: url("/static/gis-0.1/mActionMeasureRed.png");
}




.olControlEditingToolbar .olLabsControlRebaseItemInactive
{
    background-image: url("/static/resource/visng_controls_home_inactive.png");
}

.olControlEditingToolbar .olLabsControlRebaseItemActive
{
    background-image: url("/static/resource/visng_controls_home_active.png");
    border-bottom:      1px solid #000000;
}

.olControlEditingToolbar .olLabsControlRebaseItemInactive:hover
{
    background-image: url("/static/resource/visng_controls_home_active.png");
}