#mapselector
{
    width:      25%;
}

select
{
    width:      100%;
}

#proxymap
{
    position:   absolute;
    right:      8px;
    left:       26%;
    top:        0;


    bottom:     0;

    max-height:     500px;
    max-width:      800px;

    background-color:   #cccccc;
}