
#functionality
{
    text-align:         center;
}

#proxy_display
{
    margin-left:           auto;
    margin-right:          auto;
    margin-top:             1em;
    margin-bottom:          1em;

    border-collapse:        collapse;

}

tr th
{
    display:                none;
}

#proxy_display td
{
    padding:            0 8px 0 8px;
    border-left:        1px solid #000000;
    border-right:       1px solid #000000;
}

#proxy_display td:last-child
{
    border-right:       0;
}

#proxy_display td:first-child
{
    border-left:        0;
}