

<div class="selection_summary">Proxy: {{ proxy_id }} - Metadato: {{ meta_id }} - Mappa: {{ shape_id }}</div>

<table id="conversion_table">
    <thead>
        <tr><th>CAMPO ORIGINE</th><th>STRUTTURA</th><th><label for="mapped_type">TIPO DESTINAZIONE</label></th><th>CAMPO DESTINAZIONE</th></tr>
    </thead>
    <tbody>

    {% for itemname, itemtype in shapedata.items %}
    <tr class="conversion_item">
        <td class="item_name">{{ itemname }}</td><td>{{ itemtype }}</td>
        {% ifchanged %}
            <td rowspan="{{ shapedata|length }}">
                <select id="mapped_type">
                    <option value="" selected="selected"></option>
                    {% for typename in conversion.keys %}
                        <option value="{{ typename }}">{{ typename }}</option>
                    {% endfor %}
                </select>
            </td>
        {% else %}
            {# display nothing, we want to have only one type select for the whole shapefile #}
        {% endifchanged %}
        <td>
            <select class="mapped_field" id="mapping_{{ itemname }}">
            <option value="">(non utilizzato)</option>

            </select>
        </td>
    </tr>

    {% endfor %}





    </tbody>
</table>


<div id="notifications_area">

</div>



<div id="controls_send">

        <input type="button" id="button_conversion_create" value="Salva conversione">
        <input type="button" id="button_conversion_create_meta" value="Salva per tutti gli shape">

</div>

<script>
    conversions = {};
    conversion_types = [];
    {% for typename, fielddata in conversion.items %}
        conversions['{{ typename }}'] = {};
        conversion_types.push('{{ typename }}');
        {% for fieldname, fieldtype in fielddata.items %}
            conversions['{{ typename }}']['{{ fieldname }}'] = '{{ fieldtype }}';
        {% endfor %}
    {% endfor %}
</script>
