{% extends "fwpcore.html" %}


{% block title %}
    Gestione metadato e mappe
{% endblock %}


{% block headers %}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}fwp_metapage.css">
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}fwp_metaconvert.css">

<script language="JavaScript" src="{{ STATIC_URL }}fwp_metapage.js"></script>
<script language="JavaScript" src="{{ STATIC_URL }}fwp_metaconvert.js"></script>
<script language="JavaScript" src="{{ STATIC_URL }}jquery-ui-1.8.20.custom.min.js"></script>
{% endblock %}

{% block navigation %}

    <div id="metainfo"><div class="button_pre"><a title="Riepilogo proxy" href="/fwp/proxy/{{ proxy_id }}" class="backtrack"><img src="/static/resource/fwp_backtrack.png"></a></div>{{ proxy_name }}: {{ meta_id }}</div>

    <div id="minimap" class="cornermap"></div>


    <div id="serverstate" class="statemess">Elaborazione dati</div>
    <div id="renderingstate" class="statemess">Aggiornamento mappa</div>
    <div id="loadingstate" class="statemess">Caricamento mappe</div>
    <div id="currentops" class="statemess"></div>

    <div class="button wide" id="btn_reload"><a class="blocky textbutton" href="/fwp/proxy/{{ proxy_id }}/{{ meta_id }}">Aggiorna schermata</a></div>

    <div class="button wide" id="proxy_addmap">Nuova mappa: <span id="newmap_shapefile" class="blocky textbutton">FILE</span> / <span class="textbutton" id="newmap_wfs">WFS</span> / <span class="textbutton" id="newmap_st">Interna</span></div>

    <div id="progspinner"><img src="/static/resource/progressbar.gif"></div>

    <div id="maplisting"></div>

{% endblock %}

{% block functionality %}

    <div id="proxymap"></div>

<div id="conversion" class="inhiding">
    {% include "fwp_metaconvert.html" %}
</div>



{% endblock %}


{% block starterscript %}
    <script>
        pageInit('{{ proxy_id }}', '{{ meta_id }}', {{ manifest }}, '{{ maps }}', '{{ remote }}', '{{ maps_st }}');
        registerModels ( {{ models }} )
    </script>
{% endblock %}



{% block contextguide %}

    <div class="help">

    La mappa principale mostra una combinazione di tutte le mappe caricate per il metadato. È possibile caricare manualmente mappe da fonti file o web come aggiunta o sostituzione delle mappe già presenti.<br><br>
    I formati di file accettati sono archivi zip contenenti una singola mappa in formato Shapefile, Mapinfo o Geojson. Il nome dell'archivio deve corrispondere al nome del file della mappa e non contenere caratteri punto prima dell'estensione.<br><br>
    Le icone di ogni mappa forniscono le seguenti funzionalità:<br>
        <img alt="Evidenzia/Nascondi" class="legend" src="/static/resource/fwp_focus.png"> Evidenzia la mappa<br>
        <img alt="Conversione" class="legend" src="/static/resource/fwp_convert.png"> Modifica le regole di traduzione<br>
        <img alt="Carica da file" class="legend" src="/static/resource/fwp_uploadfile.png"> Carica la mappa da un file<br>
        <img alt="Carica da web" class="legend" src="/static/resource/fwp_uploadwfs.png"> Carica la mappa da un servizio web<br>
        <img alt="Modifica" class="legend" src="/static/resource/fwp_editmap.png"> Modifica la mappa<br>
        <img alt="Elimina" class="legend" src="/static/resource/fwp_remove.png"> Cancella la mappa dal metadato<br>
        <img alt="Ricarica" class="legend" src="/static/resource/fwp_reload.png"> Ricarica la mappa dal fornitore (solo per risorse esterne)<br>


    </div>
{%  endblock %}