{% extends "fwpcore.html" %}

{% block title %}
Analisi e modifica delle mappe
{% endblock %}

{% block headers %}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}fwp_MapEditor.css">
    <script language="JavaScript" src="{{ STATIC_URL }}fwp_MapEditor.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}gis.css">

{% endblock %}



{% block navigation %}

    {# TODO: put the buttons for help and screen conf here #}
    <div id="mapsummary"><a href="/fwp/proxy/{{ proxy_id }}/{{ meta_id }}" class="backtrack"><img src="/static/resource/fwp_backtrack.png"></a> {{ proxy_name }}: {{ meta_id }}: {{ shape_id }}
    </div>

    <div id="minimap" class="cornermap"></div>
    <div id="states">
        <div id="loadingstate" class="statemess">Caricamento mappe</div>
        <div id="savingstate" class="statemess">Salvataggio in corso</div>
        <div class="button wide" id="btn_savechanges">Salva la mappa aggiornata</div>
    </div>


    <div id="mapcontrol">
        <label for="sel_setshadow">Riferimento:</label> <select id="sel_setshadow">
            <option value=""></option>
            {% for map in maps %}
                {% if map != shape_id %}
                    <option value="{{ map }}">{{ map }}</option>
                {%  endif %}
            {% endfor %}
        </select>
    </div>

    <div id="currentfeature">

    </div>


{% endblock %}

{% block functionality %}

    <div id="mapview"></div>

{% endblock %}

{% block starterscript %}
    <script>
        pageInit('{{ proxy_id }}', '{{ meta_id }}', '{{ shape_id }}', {{ mapsjson }}, {{ objmodel }});
    </script>
{% endblock %}

{% block contextguide %}

{%  endblock %}
