<script language="JavaScript" src="{{ STATIC_URL }}fwp_metaconvert.js"></script>
<script language="JavaScript" src="{{ STATIC_URL }}jquery-ui-1.8.20.custom.min.js"></script>

<div id="convtable_mask">


    <select id="conversion_typeto">

    </select>


    <table id="convtable_fields">
        <thead>

            <tr>
                <th>
                    Campo federato
                </th>
                <th>
                    Campo origine
                </th>
                <th>
                    Valori
                </th>
            </tr>

        </thead>
        <tbody id="convtable_dynamic">

        </tbody>

    </table>


    <input type="button" id="convtable_close" value="Annulla">
    <input type="button" id="convtable_submit" value="Conferma">


</div>