<script language="JavaScript" src="{{ STATIC_URL }}fwp_proxycreate.js"></script>
<script language="JavaScript" src="{{ STATIC_URL }}jquery-ui-1.8.20.custom.min.js"></script>


<div id="proxycreate_mask">

    <div class="sectionbanner">ISTANZA</div>

    <div class="sectionmask" id="create_proxydef">

        <div id="map_proxy_new" class="elementmask">
            <div class="mapmask" id="proxymapcanvas"></div>
        </div>

        <div id="def_proxy_new" class="elementmask">

            <div class="multifieldmask">

                <div class="fieldmask">
                    <div class="subfieldmask">
                        Nome istanza
                    </div>
                    <div class="subfieldmask">
                        <input type="text" id="newproxy_name">
                    </div>
                </div>

                <div class="fieldmask">
                    <div class="subfieldmask">
                        Fornitore
                    </div>
                    <div class="subfieldmask">
                        <input type="text" list="fed_providers" id="newproxy_provider" class="datalisted">
                        <datalist id="fed_providers">
                        </datalist>
                    </div>
                </div>

                <div class="fieldmask">
                    <div class="subfieldmask">
                        Valido dal
                    </div>
                    <div class="subfieldmask">
                        <input type="text" id="newproxy_datefrom">
                    </div>
                </div>
                <div class="fieldmask">
                    <div class="subfieldmask">
                        Valido al <input type="checkbox" id="newproxy_dateto_use" checked="checked">
                    </div>
                    <div class="subfieldmask">
                        <input type="text" id="newproxy_dateto">
                    </div>
                </div>

                <div class="fieldmask">
                    <div class="subfieldmask">
                        Area
                    </div>
                    <div class="subfieldmask geoloc_combo">
                        <input type="text" id="newproxy_geoloc"> <img id="btn_trygeoloc_proxy" src="/static/resource/fwp_focus.png">
                    </div>
                </div>


            </div>


        </div>

        <div id="ops_proxy_new" class="elementmask">

            <div class="multifieldmask" id="params_standalone">
                <div class="fieldmask" >
                    ATTENZIONE: lo strumento standalone è un'entità funzionalmente autonoma e non prevede interazioni federate.
                </div>
            </div>

            <div class="multifieldmask" id="params_proxy">

                <div class="fieldmask">
                    <div class="subfieldmask">
                        Tipologia
                    </div>
                    <div class="subfieldmask">
                        <select id="proxy_opsmode">
                            <option value="read">Lettura</option>
                            <option value="write">Scrittura</option>
                            <option value="query">Query</option>
                            <!-- <option value="linker">Collegamento standalone</option> -->
                        </select>

                    </div>
                </div>



                <div class="fieldmask opsdetail_sel" id="proxy_opsmode_read">
                    <div class="subfieldmask">
                        Modalità lettura
                    </div>
                    <div class="subfieldmask">
                        <select  id="proxy_options_read">
                            <option value="full">Completa</option>
                            <option value="diff">Incrementale</option>
                        </select>
                    </div>
                </div>

                <div class="fieldmask opsdetail_sel" id="proxy_opsmode_write">
                    <div class="subfieldmask">
                        Modalità scrittura
                    </div>
                    <div class="subfieldmask">
                        <select id="proxy_options_write">
                            <option value="full">Continua</option>
                            <option value="sync">Periodica</option>
                        </select>
                    </div>
                </div>


                <div class="fieldmask opsdetail_sel" id="proxy_opsmode_query">
                    <div class="subfieldmask">
                        Query geografiche
                    </div>
                    <div class="subfieldmask">
                        <select class="fields_query" id="proxy_options_query_geo">
                            <option value="full">Complesse</option>
                            <option value="BB">Bounding box</option>
                            <option value="none">Non disponibili</option>
                        </select>
                    </div>

                    <div class="subfieldmask">
                        Query inventariali
                    </div>
                    <div class="subfieldmask">
                        <select class="fields_query" id="proxy_options_query_inv">
                            <option value="full">Complete</option>
                            <option value="simple">Semplici</option>
                            <option value="none">Non disponibili</option>
                        </select>
                    </div>

                    <div class="subfieldmask">
                        Query temporali
                    </div>
                    <div class="subfieldmask">
                        <select class="fields_query" id="proxy_options_query_time">
                            <option value="full">Complete</option>
                            <option value="none">Non disponibili</option>
                        </select>
                    </div>

                    <div class="subfieldmask">
                        Business Intelligence
                    </div>
                    <div class="subfieldmask">
                        <select class="fields_query" id="proxy_options_query_bi">
                            <option value="full">Completa</option>
                            <option value="simple">Semplice</option>
                            <option value="none">Non disponibile</option>
                        </select>
                    </div>

                    <div class="subfieldmask">
                        Firma
                    </div>
                    <div class="subfieldmask">
                        <select id="proxy_options_query_sign">
                            <option value="true">Sì</option>
                            <option value="false">No</option>

                        </select>
                    </div>

                </div>




            </div>

        </div>

    </div>

    <div class="sectionbanner">METADATI</div>

    <div class="sectionmask" id="create_metalist">

        <table id="new_meta_table" class="elementmask">

            <tr>
                <th class="newmeta_namefield">Nome</th><th class="newmeta_datefrom">Valido dal</th><th class="newmeta_dateto">Valido al</th><th class="newmeta_bb">Area</th><th class="newmeta_ctrldelete">Cancella</th>
            </tr>

        </table>

    </div>


    <div class="sectionmask" id="create_metadef">

        <div id="map_meta_new" class="elementmask">
            <div class="mapmask" id="metamapcanvas"></div>
        </div>

        <div id="def_meta_new" class="elementmask">

            <div class="multifieldmask">

                <div class="fieldmask">
                    <div class="subfieldmask">
                        Nome metadato
                    </div>
                    <div class="subfieldmask">
                        <input type="text" id="newmeta_name">
                    </div>
                </div>
                <div class="fieldmask">
                    <div class="subfieldmask">
                        Valido dal <input type="checkbox" id="newmeta_datefrom_use" checked="checked">
                    </div>
                    <div class="subfieldmask">
                        <input type="text" id="newmeta_datefrom">
                    </div>
                </div>
                <div class="fieldmask">
                    <div class="subfieldmask">
                        Valido al <input type="checkbox" id="newmeta_dateto_use" checked="checked">
                    </div>
                    <div class="subfieldmask">
                        <input type="text" id="newmeta_dateto">
                    </div>
                </div>

                <div class="fieldmask">
                    <div class="subfieldmask">
                        Area <input type="checkbox" id="newmeta_bbox_use" checked="checked">
                    </div>
                    <div class="subfieldmask geoloc_combo">
                        <input type="text" id="newmeta_geoloc"> <img id="btn_trygeoloc_meta" src="/static/resource/fwp_focus.png">
                    </div>

                </div>

                <div class="fieldmask" id="newmeta_buttons">
                    <div class="subfieldmask">
                        <input type="button" value="Aggiungi metadato" id="newmeta_confirm">
                    </div>

                </div>


            </div>
        </div>

        <div id="reports_pre" class="elementmask">


        </div>


    </div>

    <div id="create_actions">
        <input type="button" value="Crea istanza" id="proxy_create_confirm">
    </div>








</div>