<div id="proxycreate_mask">


    <div class="sectionmask" id="create_proxydef">

        <div id="map_proxy_new" class="elementmask">
            <div class="mapmask" id="proxymapcanvas"></div>
        </div>

        <div id="ops_proxy_new" class="elementmask">

            <div class="multifieldmask">

                <div class="fieldmask">
                    <div class="subfieldmask">
                        Nome
                    </div>
                    <div class="subfieldmask">
                        <input type="text" id="newproxy_name">
                    </div>
                </div>
                <div class="fieldmask">
                    <div class="subfieldmask">
                        Valido dal
                    </div>
                    <div class="subfieldmask">
                        <input type="text" id="newproxy_datefrom">
                    </div>
                </div>
                <div class="fieldmask">
                    <div class="subfieldmask">
                        Valido al
                    </div>
                    <div class="subfieldmask">
                        <input type="text" id="newproxy_dateto">
                    </div>
                </div>


            </div>


        </div>

    </div>

    <div class="sectionmask" id="create_metalist">

        <table id="new_meta_table" class="elementmask">

            <tr>
                <th>Nome</th><th colspan=2>Validità</th><th>Bounding Box</th><th>*</th>
            </tr>

        </table>

    </div>

    <div class="sectionmask" id="create_metadef">

        <div id="map_meta_new" class="elementmask">
            <div class="mapmask" id="metamapcanvas"></div>


            <div class="multifieldmask">

                <div class="fieldmask">
                    <div class="subfieldmask">
                        Nome
                    </div>
                    <div class="subfieldmask">
                        <input type="text" id="newmeta_name">
                    </div>
                </div>
                <div class="fieldmask">
                    <div class="subfieldmask">
                        Valido dal
                    </div>
                    <div class="subfieldmask">
                        <input type="text" id="newmeta_datefrom">
                    </div>
                </div>
                <div class="fieldmask">
                    <div class="subfieldmask">
                        Valido al
                    </div>
                    <div class="subfieldmask">
                        <input type="text" id="newmeta_dateto">
                    </div>
                </div>


            </div>
        </div>

        <div id="reports_pre" class="elementmask">



        </div>


    </div>

    <div id="create_actions">

    </div>








</div>