{% extends "fwpcore.html" %}


{% block title %}
    Selezione/creazione proxy
{% endblock %}

{% block headers %}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}fwp_proxysel.css">
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}fwp_proxycreate.css">
    <script language="JavaScript" src="{{ STATIC_URL }}fwp_proxysel.js"></script>
{% endblock %}

{% block navigation %}

    <div class="button wide" id="proxy_create_new">Crea nuovo proxy</div>


    <div id="proxylisting">
    </div>



{% endblock %}


{% block functionality %}

<div id="proxymap"></div>

<div id="proxybuilder" class="inhiding">
    {% include "fwp_proxycreate.html" %}
</div>


{% endblock %}


{% block starterscript %}
    <script>
        pageInit({{ proxies }});
    </script>
{% endblock %}