{% extends "fwpcore.html" %}


{% block title %}
Gestione dati e cataloghi
{% endblock %}

{% block headers %}

    <script src="http://maps.google.com/maps/api/js?v=3.2&sensor=false"></script>
    <script language="JavaScript" src="{{ STATIC_URL }}fwp_proxypageng.js"></script>

    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}fwp_proxypage.css">
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}fwp_proxypageng.css">
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}gis.css">

{% endblock %}


{% block navigation %}

<div id="proxyinfo">

    {% if proxy_type != 'local' %}
        {% if proxy_type != 'linked' %}
            Proxy
        {% else %}
            Proxy standalone
        {% endif %}
    {% else %}
        Piattaforma standalone
    {% endif %}

    <span class="proxytitle">{{ proxy_name }}</span>

</div>




<div id="metalisting">

    <table id="metalistinglayout">



    {% for meta_id, maplist in proxy_maps.items %}

        <tbody class="metadata">
        <tr class="metainfo" id="metacard_{{ proxy_id }}-{{ meta_id }}">

        <td colspan="2" class="metatitle">

        {% if proxy_type != 'local' %}
            {% if proxy_type != 'linked' %}
                {% if proxy_type == 'query' %}
                    <img src="{{ STATIC_URL }}resource/fwp_datasource-query.png">
                {% else %}
                    <img src="{{ STATIC_URL }}resource/fwp_datasource-networked.png">
                {% endif %}
            {% else %}
                <img src="{{ STATIC_URL }}resource/fwp_datasource-networked.png">
            {% endif %}
        {% else %}
                <img src="{{ STATIC_URL }}resource/fwp_datasource-local.png">
        {% endif %}

        {% if meta_id == ".st" %}
            Area di lavorazione
        {% else %}
            {{ meta_id }}
        {% endif %}

        </td>
        <td class="actionstd">
            {% if proxy_type != 'linked' and proxy_type != 'local' and proxy_type != 'query' %}
            <img class="imgbutton newdata new_file" id="new_file_{{ proxy_id }}-{{ meta_id }}" src="{{ STATIC_URL }}resource/fwp_newfromfile.png" title="Nuova mappa da file">
            <img class="imgbutton newdata new_wfs" id="new_wfs_{{ proxy_id }}-{{ meta_id }}" src="{{ STATIC_URL }}resource/fwp_uploadwfs.png" title="Nuova mappa da WFS">
            {% else %}
                {% if proxy_type == 'query' %}
                    <img class="imgbutton newdata new_query" id="new_query_{{ proxy_id }}-{{ meta_id }}" src="{{ STATIC_URL }}resource/fwp_uploadwfs.png" title="Nuova connessione">
                {% endif %}
                {% if proxy_type == 'local' and meta_id == '.st' %}
                    <a href="/fwst/{{ proxy_id }}/"><img class="imgbutton" src="{{ STATIC_URL }}resource/fwp_newmapedit.png" title="Crea nuova mappa"></a>
                {% endif %}
            {% endif %}
        </td>

        </tr>

        </tbody>

        <tbody class="metamaps">

        {% for map_id, mapdata in maplist.items %}

            <tr class="mapcard" id="mapcard_{{ proxy_id }}-{{ meta_id }}-{{ map_id }}">
                <td class="maptitle">{{ map_id }}</td> <td>{{  mapdata.source }}</td>
                <td class="actionstd">
                    {% if proxy_type == 'local' and meta_id == '.st' %}
                        <a href="/fwst/{{ proxy_id }}/{{ meta_id }}/{{ map_id }}/"><img class="imgbutton" src="{{ STATIC_URL }}resource/fwp_editmap.png" title="Modifica mappa"></a>
                    {% endif %}
                    {% if proxy_type != 'query' and mapdata.source != 'WFS' %}
                        <img class="imgbutton" src="{{ STATIC_URL }}resource/fwp_downloadfile.png" title="Scarica mappa">
                    {% endif %}
                    {% if proxy_type != 'local' %}
                        <img class="imgbutton" src="{{ STATIC_URL }}resource/fwp_convert.png" title="Modifica conversioni">
                    {% endif %}
                    <img class="imgbutton removedata remove_{{ mapdata.source|lower }}" id="remove_{{ meta_id }}-{{ map_id }}" src="{{ STATIC_URL }}resource/fwp_remove.png" title="Elimina">
                </td>
            </tr>
        {% endfor %}

        </tbody>



    {% endfor %}

    </table>









</div>


{% endblock %}


{% block functionality %}


<div id="form_removesource" title="Richiesta di eliminazione">

    <div class="formbriefing">
        <span class="warninglabel">Attenzione</span>: i dati eliminati non possono essere recuperati.
    </div>

    <div class="formbriefing" id="dataremove_details">
        <!-- filled by script -->
    </div>

</div>


<div id="progress_removal" title="Procedura di eliminazione">

    <div id="progspinner_removal">
        <img src="/static/resource/progressbar.gif">
    </div>

    <div class="progressinfo" id="progress_stage_removereq">
        Invio della richiesta di eliminazione...
    </div>


    <div class="progressinfo feedback_good" id="removalfinished_success">
        Dati eliminati.
    </div>

    <div class="progressinfo feedback_bad" id="removalfinished_fail">
        Eliminazione dei dati fallita.
        <div id="removalfail_explain">
        </div>
    </div>


</div>


<div id="form_newfile" title="Nuova mappa da file">

    <div class="formbriefing">
    Il sistema accetta mappe in formato Shapefile, GeoJSON e MapInfo.<br>
    I file della mappa devono essere inseriti in un archivio Zip unico.
    </div>
    <input type="file" id="newfile_chooser" name="newfile_chooser">

    <div class="formwarning" id="warning_fileoverwrite">
        <span class="warninglabel">Attenzione</span>: esiste già una mappa con questo nome. Caricare questo file sovrascriverà i dati caricati in precedenza.
    </div>

    <div class="formwarning" id="warning_fileformatwrong">
        <span class="warninglabel">Attenzione</span>: il file selezionato non è nel formato corretto.
    </div>

</div>




<div id="progress_newdata" title="Caricamento e adattamento dati">

    <div id="progspinner_newdata">
        <img src="/static/resource/progressbar.gif">
    </div>

    <div class="progressinfo" id="progress_stage_uploading">
        Caricamento dei dati in corso...
    </div>

    <div class="progressinfo" id="progress_stage_adapting">
        Adattamento dei dati in corso...
    </div>

    <div class="progressinfo feedback_good" id="uploadfinished_success">
        Dati caricati e adattati con successo.
    </div>

    <div class="progressinfo feedback_bad" id="uploadfinished_fail">
        Caricamento dati fallito.
        <div id="uploadfail_explain">
        </div>
    </div>


</div>


<div id="form_newwfs" title="Nuova mappa da fonte WFS"></div>
<div id="form_newquery" title="Nuova connessione a database"></div>


<div id="proxymap"></div>


{% endblock %}


{% block contextguide %}

<div class="help">
    WORK IN PROGRESS



</div>
{%  endblock %}


{% block starterscript %}
<script>
    pageInit('{{ proxy_id }}', '{{ proxy_type }}', {{ manifest }}, {{ mapsforjs }});
</script>

{% endblock %}