{% extends "fwpcore.html" %}


{% block title %}
    Gestione metadato e mappe
{% endblock %}


{% block headers %}


    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}fwp_metapage.css">
    <script language="JavaScript" src="{{ STATIC_URL }}fwp_metapage.js"></script>


{% endblock %}

{% block navigation %}

    <div id="metainfo"><div class="button_pre"><a href="/fwp/proxy/{{ proxy_id }}" class="backtrack"><img src="/static/resource/fwp_backtrack.png"></a></div>{{ proxy_id }}: {{ meta_id }}</div>

    <div id="minimap"></div>

    <div id="renderingstate" class="statemess">Aggiornamento mappa</div>
    <div id="loadingstate" class="statemess">Caricamento mappe</div>

    <div class="button wide" id="proxy_addmap">Nuova mappa: <span id="newmap_shapefile" class="textbutton">FILE</span> / <span class="textbutton" id="newmap_wfs">WFS</span></div>

    <div id="maplisting"></div>

{% endblock %}

{% block functionality %}

    <div id="proxymap"></div>





{% endblock %}


{% block starterscript %}
    <script>
        pageInit('{{ proxy_id }}', '{{ meta_id }}', '{{ proxy_type }}', {{ manifest }}, '{{ maps }}');
    </script>
{% endblock %}