

<div id="convtable_mask">


    <select id="conversion_typeto">

    </select>


    <table id="convtable_fields">
        <thead>

            <tr>
                <th>
                    Campo federato
                </th>
                <th>
                    Campo origine
                </th>
                <th>
                    Valori
                </th>
            </tr>

        </thead>
        <tbody id="convtable_dynamic">

        </tbody>

    </table>


    <input type="button" id="convtable_close" value="Annulla">
    <input type="button" id="convtable_submit" value="Conferma">


</div>