</div>

<div id="launcherbar">



    <div id="launcher_proxycreate" class="launcher icn_proxycreate" onclick="changeSection('/proxy/setup')">
        Crea
    </div>
    <div id="launcher_proxyupload" class="launcher icn_proxyupload" onclick="changeSection('/proxy/upload')">
        Carica
    </div>
    <div id="launcher_proxyconvert" class="launcher icn_proxyconvert" onclick="changeSection('/proxy/conversion')">
        Configura
    </div>
    <div id="launcher_proxyrefresh" class="launcher icn_proxyrefresh" onclick="changeSection('/proxy/refresh')">
        Conferma
    </div>
    <div id="launcher_proxyview" class="launcher icn_proxyview" onclick="changeSection('/proxy/vis')">
        Consulta
    </div>

    <div id="datainfo">

    </div>


</div>

<script>
    highlightSection();
</script>
</body>
</html>