<!DOCTYPE html>

<html>
<head>

    <!-- <title>FIdER - Aggiornamento forzato shapefile - WIP</title> -->
    <title>{{ titletag }}</title>

    <link rel="stylesheet" href="{{ STATIC_URL }}fider.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}smoothness/jquery-ui-1.8.20.custom.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}{{ specificcss }}">



    <script language="JavaScript" src="{{ STATIC_URL }}jquery-1.7.2.js"></script>
    <script language="JavaScript" src="{{ STATIC_URL }}jquery-ui-1.8.20.custom.min.js"></script>
    <script language="JavaScript" src="{{ STATIC_URL }}{{ specificjs }}"></script>


</head>
<body>
