{% with "Catasto Federato - Consultazione mappe proxy" as titletag %}
    {% with "proxy_visual.js" as specificjs %}
        {% with "proxy_visual.css" as specificcss %}
            {% include "layout_header.html" %}
        {% endwith %}
    {%  endwith %}
{% endwith %}

<script language="JavaScript" src="{{ STATIC_URL }}OpenLayers/OpenLayers.js"></script>

<div id="proxymap"></div>

<div id="mapselector">

    <label for="sel_proxy">Proxy</label><br>
    <select id="sel_proxy">
        <option class="nullopt" value=""></option>
        {% for proxy_id in proxies %}
            <option value="{{ proxy_id }}">{{ proxy_id }}</option>
        {% endfor %}
    </select>
<br>

    <label for="sel_meta">Metadato</label><br>

    <select id="sel_meta">
        <option class="nullopt" value=""></option>

        {% for proxy_id, metalist in metadata.items %}
            <optgroup label="{{ proxy_id }}">
                {% for meta_id in metalist %}
                    <option value="{{ meta_id }}">{{ meta_id }}</option>
                {% endfor %}
            </optgroup>
        {% endfor %}
    </select>
<br>

    <label for="sel_shape">Mappa</label><br>

    <select id="sel_shape">
        <option class="nullopt" value=""></option>

        {% for proxy_id, metalist in shapefile.items %}
            {% for meta_id, shapelist in metalist.items %}
                <optgroup label="{{ proxy_id }}/{{ meta_id }}">
                    {% for shape_id in shapelist %}
                        <option value="{{ shape_id }}">{{ shape_id }}</option>
                    {% endfor %}
                </optgroup>
            {% endfor %}
        {% endfor %}
    </select>

</div>

<script>
    pageInit();
    populateBB ({{ proxyboxes }}, {{ metaboxes }});

</script>


{% include "layout_footer.html" %}
