
{% with "FIdER - Aggiornamento forzato shapefile - WIP2" as titletag %}
    {% with "proxy_refresh.js" as specificjs %}
        {% with "proxy_refresh.css" as specificcss %}
            {% include "layout_header.html" %}
        {% endwith %}
    {%  endwith %}
{% endwith %}


<label for="sel_proxy">Proxy</label>
<select id="sel_proxy">
    <option class="nullopt" value=""></option>
    {% for proxy_id in proxies %}
        <option value="{{ proxy_id }}">{{ proxy_id }}</option>
    {% endfor %}
</select>


<table id="proxy_display">


    {% for proxy_id, metalist in metadata.items %}
        <tbody class="info_proxy" id="proxy_{{ proxy_id }}">
        <tr><th colspan=2>{{ proxy_id }}</th></tr>
        {% for meta_id, meta_update in metalist.items %}
            <tr class="info_meta" id="meta_{{ meta_id }}">
                <td>
                    {{ meta_id }}
                </td>
                <td>
                    {% if meta_update %}
                        {{ meta_update }} (UTC)
                    {% else %}
                        Non inserito
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    {% endfor %}


</table>

<input type="button" id="button_rebuild_proxy" value="Ricostruisci dati">


</body>
<script>
    pageInit();
    autoselect("{{ preselect }}");
</script>
</html>