{% with "Catasto Federato - Configurazione conversioni WIP" as titletag %}
    {% with "proxy_setup_conversion.js" as specificjs %}
        {% with "proxy_conversion.css" as specificcss %}
            {% include "layout_header.html" %}
        {% endwith %}
    {%  endwith %}
{% endwith %}


<table id="data_select">
<tr>
    <th><label for="sel_proxy">Proxy</label></th>
    <th><label for="sel_meta">Metadato</label></th>
    <th><label for="sel_shape">Mappa</label></th>
</tr>
<tr>
    <td>
        <select id="sel_proxy">
            <option class="nullopt" value=""></option>
            {% for proxy_id in proxies %}
                <option value="{{ proxy_id }}">{{ proxy_id }}</option>
            {% endfor %}
        </select>

    </td>

    <td>
        <select id="sel_meta">
            <option class="nullopt" value=""></option>

            {% for proxy_id, metalist in metadata.items %}
                <optgroup label="{{ proxy_id }}">
                    {% for meta_id in metalist %}
                        <option value="{{ meta_id }}">{{ meta_id }}</option>
                    {% endfor %}
                </optgroup>
            {% endfor %}
        </select>
    </td>
    <td>
        <select id="sel_shape">
            <option class="nullopt" value=""></option>

            {% for proxy_id, metalist in shapefile.items %}
                    {% for meta_id, shapelist in metalist.items %}
                        <optgroup label="{{ proxy_id }}/{{ meta_id }}">
                        {% for shape_id in shapelist %}
                            <option value="{{ shape_id }}">{{ shape_id }}</option>
                        {% endfor %}
                        </optgroup>
                    {% endfor %}
            {% endfor %}
        </select>
    </td>
</tr>
</table>


<div id="widget_conversion">

</div>
<script>
    pageInit();
</script>

{% include "layout_footer.html" %}