<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>

    <title>FIdER - Aggiornamento forzato shapefile - WIP</title>

    <link rel="stylesheet" href="{{ STATIC_URL }}fider.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}proxy_refresh.css">

    <link rel="stylesheet" href="{{ STATIC_URL }}smoothness/jquery-ui-1.8.20.custom.css">


    <script language="JavaScript" src="{{ STATIC_URL }}jquery-1.7.2.js"></script>
    <script language="JavaScript" src="{{ STATIC_URL }}jquery-ui-1.8.20.custom.min.js"></script>
    <script language="JavaScript" src="{{ STATIC_URL }}proxy_refresh.js"></script>


</head>
<body>

<label for="sel_proxy">Proxy</label>
<select id="sel_proxy">
    <option class="nullopt" value=""></option>
    {% for proxy_id in proxies %}
        <option value="{{ proxy_id }}">{{ proxy_id }}</option>
    {% endfor %}
</select>


<table id="proxy_display">


    {% for proxy_id, metalist in metadata.items %}
        <tbody class="info_proxy" id="proxy_{{ proxy_id }}">
        <tr><th colspan=2>{{ proxy_id }}</th></tr>
        {% for meta_id, meta_update in metalist.items %}
            <tr class="info_meta" id="meta_{{ meta_id }}">
                <td>
                    {{ meta_id }}
                </td>
                <td>
                    {% if meta_update %}
                        {{ meta_update }} (UTC)
                    {% else %}
                        Non inserito
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    {% endfor %}


</table>

<input type="button" id="button_rebuild_proxy" value="Ricostruisci dati">


</body>
<script>
    pageInit();
    autoselect("{{ preselect }}");
</script>
</html>