{% extends "fwpcore.html" %}

{% block title %}
PIpER - Strumento Standalone
{% endblock %}

{% block defaultcss %}
    {# skipping the default css #}
{% endblock %}

{% block headers %}
    <script language="JavaScript" src="{{ STATIC_URL }}st_ui.js"></script>
    <script language="JavaScript" src="{{ STATIC_URL }}moment.min.js"></script>

    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}st_ui.css">
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}gis.css">

{% endblock %}

{%  block servicebar %}

{% endblock %}


{% block navigation %}

<div id="currentcontext">

</div>

<div id="workcontext">


    <div id="summary">

    </div>

    <div id="mapcontrol">


    </div>

</div>

<div id="states">
    <div id="loadingstate" class="statemess">Caricamento mappe</div>
    <div id="savingstate" class="statemess">Salvataggio in corso</div>
    <div class="fbutton wide" id="btn_savechanges">Salva la mappa aggiornata</div>
</div>

<hr>


<div id="currentfeature">

</div>


{% endblock %}

{% block functionality %}

<div id="mapview"></div>

{% endblock %}

{% block starterscript %}
<script>
        pageInit(
                '{{ proxy_id }}',
                {{ manifest }},
                {{ proxy_meta }},
                {{ maps_fider }},
                {{ maps_st }},
                {{ models }}
        );

</script>
{% endblock %}

{% block contextguide %}

{%  endblock %}
