<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>File uploader</title>
</head>
<body>


<table id="data_select">
    <tr>
        <th><label for="sel_proxy">Proxy</label></th>
        <th><label for="sel_meta">Metadata</label></th>
    </tr>
    <tr>
        <td>
            <select id="sel_proxy">
                <option class="nullopt" value=""></option>
                {% for proxy_id in proxies %}
                    <option value="{{ proxy_id }}">{{ proxy_id }}</option>
                {% endfor %}
            </select>

        </td>

        <td>
            <select id="sel_meta">
                <option class="nullopt" value=""></option>

                {% for proxy_id, metalist in metadata.items %}
                    <optgroup label="{{ proxy_id }}">
                        {% for meta_id in metalist %}
                            <option value="{{ meta_id }}">{{ meta_id }}</option>
                        {% endfor %}
                    </optgroup>
                {% endfor %}
            </select>
        </td>
    </tr>

    <tr>
        <td colspan="2">
            Elementi caricati per il metadato:
            <table>
                {% for proxy_id, metalist in shapefile.items %}
                    {% for meta_id, shapelist in metalist.items %}
                        {% for shape_id in shapelist %}
                            <tr><td>
                            {{ shape_id }}</td><td><input type="button" value="Elimina" id="erase_{{ proxy_id }}-{{ meta_id }}-{{ shape_id }}"><br>
                            </td></tr>
                        {% endfor %}
                    {%  endfor %}
                {% endfor %}
            </table>

        </td>
    </tr>
</table>

File: <input type="file">
<input type="submit" value="Invia">

<div id="activity_status">

</div>


</body>
</html>