{% with "FIdER - File upload WIP" as titletag %}
    {% with "proxy_upload.js" as specificjs %}
        {% with "proxy_upload.css" as specificcss %}
            {% include "layout_header.html" %}
        {% endwith %}
    {%  endwith %}
{% endwith %}

<form action="/proxy/upload/" enctype="multipart/form-data" method="POST">{% csrf_token %}

<table id="data_select">
    <tr>
        <th><label for="sel_proxy">Proxy</label></th>
        <th><label for="sel_meta">Metadato</label></th>
    </tr>
    <tr>
        <td>
            <select name="sel_proxy" id="sel_proxy">
                <option class="nullopt" value=""></option>
                {% for proxy_id in proxies %}
                    <option value="{{ proxy_id }}">{{ proxy_id }}</option>
                {% endfor %}
            </select>

        </td>

        <td>
            <select id="sel_meta" name="sel_meta">
                <option class="nullopt" value=""></option>

                {% for proxy_id, metalist in metadata.items %}
                    <optgroup label="{{ proxy_id }}">
                        {% for meta_id in metalist %}
                            <option value="{{ meta_id }}">{{ meta_id }}</option>
                        {% endfor %}
                    </optgroup>
                {% endfor %}
            </select>
        </td>
    </tr>

    <tr>
        <td colspan="2">
            Elementi presenti per il metadato:
                {% for proxy_id, metalist in shapefile.items %}
                    <table style="display: none" class="group_proxydata" id="proxydata-{{ proxy_id }}">
                    {% for meta_id, shapelist in metalist.items %}
                        <tbody class="group_metadata" id="metadata-{{ meta_id }}">
                        {% for shape_id in shapelist %}
                            <tr><td class="shaperef" id="shaperef-{{ proxy_id }}-{{ meta_id }}-{{ shape_id }}">{{ shape_id }}</td>
                                <td><input type="checkbox" class="check_removal" name="removal" value="{{ proxy_id }}-{{ meta_id }}-{{ shape_id }}"> Elimina
                            </td></tr>
                        {% endfor %}
                        </tbody>
                    {%  endfor %}
                    </table>
                {% endfor %}


        </td>
    </tr>
</table>

File: <input type="file" id="mapsub" name="mapsub"><br>
Inserisci come: <select name="sel_saveas" id="sel_saveas">
<option class="nullopt" value="">Nuova mappa</option>
</select>
    <input type="submit" value="Applica" id="confirmsend">
</form>


<div id="activity_status">
    {% autoescape off %}
{{ uploads }}
    {% endautoescape %}
</div>


<script>
    pageInit();
</script>

{% include "layout_footer.html" %}
